.cactus1 {
  /*
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 9;
  grid-column-end: 10;
*/
  position: absolute;
  top: 52vh;
  right: 34vw;
  height: 16vh;

  z-index: 1;

  transition: all var(--slideTime) ease;
}

.menuCactus1 {
  right: 89vw;
}

.ldbCactus1 {
  top: 50.7vh;
}

.lobbyCactus1 {
  right: 110vw;
}
.multiplayerCactus1 {
  right: 250vw;
}

.cactus2 {
  position: absolute;
  top: 70vh;
  right: 5vw;
  height: 25vh;

  z-index: 3;
  transition: all var(--slideTime) ease;
}

.menuCactus2 {
  right: 130vw;
}

.ldbCactus2 {
  top: 63vh;
}

.lobbyCactus2 {
  right: 130vw;
}
.multiplayerCactus2 {
  right: 240vw;
}

.cactus3 {
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  height: 25vh;

  z-index: 5;
  transition: all var(--slideTime) ease;
}
.menuCactus3 {
  left: -180vw;
}

.ldbCactus3 {
  bottom: 8vh;
}

.lobbyCactus3 {
  left: -200vw;
}
.multiplayerCactus3 {
  left: -300vw;
}

.cactus4 {
  position: absolute;
  bottom: 20vh;
  left: 130vw;
  height: 25vh;

  z-index: 5;
  transition: all var(--slideTime) ease;
}
.menuCactus4 {
  left: 60vw;
}

.lobbyCactus4 {
  left: -100vw;
}
.multiplayerCactus4 {
  left: -140vw;
}

.cactus5 {
  position: absolute;
  bottom: 3vh;
  left: 160vw;
  height: 25vh;

  z-index: 5;
  transition: all var(--slideTime) ease;
}
.menuCactus5 {
  left: 160vw;
}

.lobbyCactus5 {
  left: -8vw;
}

.multiplayerCactus5 {
  left: -89vw;
}

.cactusGif {
  height: 100%;
}
