.cactus1 {
  background-color: rgb(15, 185, 15);
  grid-row-start: 10;
  grid-row-end: 12;
  grid-column-start: 10;
  grid-column-end: 11;
  z-index: 1;
}
.cactus2 {
  background-color: green;
  grid-row-start: 14;
  grid-row-end: 16;
  grid-column-start: 8;
  grid-column-end: 9;
  z-index: 3;
}
.cactus3 {
  background-color: green;
  grid-row-start: 13;
  grid-row-end: 15;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 3;
}
