.cactus1 {
  /*
  grid-row-start: 8;
  grid-row-end: 12;
  grid-column-start: 9;
  grid-column-end: 10;
*/
  position: absolute;
  top: 52vh;
  right: 34vw;
  height: 16vh;

  z-index: 1;

  transition: all var(--slideTime) ease;
}

.hideCactus1 {
  right: 89vw;
}

.ldbCactus1 {
  top: 50.7vh;
}

.cactus2 {
  position: absolute;
  top: 70vh;
  right: 5vw;
  height: 25vh;

  z-index: 3;
  transition: all var(--slideTime) ease;
}

.hideCactus2 {
  right: 130vw;
}

.ldbCactus2 {
  top: 63vh;
}

.cactus3 {
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  height: 25vh;

  z-index: 5;
  transition: all var(--slideTime) ease;
}
.hideCactus3 {
  left: -180vw;
}

.ldbCactus3 {
  bottom: 8vh;
}

.cactus4 {
  position: absolute;
  bottom: 20vh;
  left: 130vw;
  height: 25vh;

  z-index: 5;
  transition: all var(--slideTime) ease;
}
.hideCactus4 {
  left: 60vw;
}

.cactusGif {
  height: 100%;
}
