.textSplashFrame {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  z-index: 7;

  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .readyCheckBox {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  //you
  .playerLocalReadyLabel {
    font-size: 2rem;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    left: 0;

    .avatar {
      border-radius: 9px;
      border-color: black;
      border-width: 4px;
      border-style: solid;
      background-color: black;

      position: absolute;
      top: -20px;
      left: 383px;

      height: 96px;
      width: 96px;

      z-index: 20;
      transition: all 0.2s ease;
    }

    .avatar:hover {
      transform: scale(1.1);
    }

    .localPlayerText {
      margin-left: 80px;
      font-family: "Press Start 2P", cursive;
    }
  }

  //enemy
  .playerNetworkReadyLabel {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    right: 0;
    padding-right: 80px;
  }

  .checkMarkLocal {
    position: absolute;
    top: 90px;
    left: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkNetwork {
    position: absolute;
    top: 90px;
    right: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkLocal:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMarkLocal {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMarkNetwork {
    background-color: #1ed65c;
  }

  .infoText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8vh;
    color: #1a0403;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
      rgb(255, 217, 0) 0px 0px 15px, #ff2d2d 0px 0px 20px, #ff0000 0px 0px 30px,
      #ff7a2d 0px 0px 40px, rgb(255, 45, 45) 0px 0px 50px, #fff01f 0px 0px 75px;
  }

  .hideInfo {
    opacity: 0;
    transform: scale(0.1);
  }
}
