.touchAreaOn {
  z-index: 100 !important;
}

.textSplashFrame {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  z-index: 7;

  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .readyCheckBox {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  //mouse
  .playerReadyLabel {
    font-size: 3vh;
    font-family: "Press Start 2P", cursive;

    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 2vh;
    left: 4vw;
    padding-left: 0;
  }

  //AI
  .aiReadyLabel {
    font-size: 3vh;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: absolute;
    top: 2vh;
    right: 0;
    padding-right: 7vw;
  }

  .checkMarkPlayer {
    position: absolute;
    top: 6vh;
    left: 0vw;

    font-size: 2.3vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 12vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkAI {
    position: absolute;
    top: 6vh;
    right: 7vw;

    font-size: 2.5vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 12vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkPlayer:hover {
    background-color: rgb(195, 209, 117);
  }

  .checkMarkAI:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMarkPlayer {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMarkAI {
    background-color: #1ed65c;
  }

  .infoText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10vh;
    color: #1a0403;
    text-shadow: 0 0 30px #ffffff;
  }

  .hideInfo {
    opacity: 1;
    transform: scale(0.1);
  }
}
