.touchAreaOn {
  cursor: pointer;

  z-index: 4000 !important;
}

.textSplashFrame {
  cursor: pointer;

  z-index: 6;
  //tarviiko enää griddiä, kaikki vissiin vaihdettu jo absoluteen?
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .leftTouchArea {
    cursor: pointer;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 4;

    width: 50vw;
    height: 100vh;
  }

  .rightTouchArea {
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 0;

    z-index: 4;

    width: 50vw;
    height: 100vh;
  }

  .readyCheckBoxTouch {
    cursor: pointer;

    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
  }

  //right / mouse
  .scoreInfoRight {
    position: absolute;
    right: 31vw;
    top: 8vh;
    font-size: 6vh;
  }

  .player1ReadyLabelTouch {
    cursor: pointer;

    font-family: "Press Start 2P", cursive;

    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    top: 0vh;
    right: 0;
    padding-right: 4vw;

    z-index: 6;
  }

  //left
  .scoreInfoLeft {
    position: absolute;
    left: 31vw;
    top: 8vh;
    font-size: 6vh;
  }

  .player2ReadyLabelTouch {
    cursor: pointer;

    font-family: "Press Start 2P", cursive;

    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 0vh;
    left: 0px;
    padding-left: 4vw;

    z-index: 6;
  }

  .checkMark1Touch {
    cursor: pointer;

    position: absolute;
    top: 4vh;
    right: 4vw;

    font-size: 2.5vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 0.7vh;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 14vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2Touch {
    cursor: pointer;

    position: absolute;
    top: 4vh;
    left: 4vw;

    font-size: 2.5vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 0.7vh;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 14vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2Touch:focus {
    border-width: 0.7vh;
    height: 20vh;
  }

  .checkMark1Touch:hover {
    background-color: rgb(195, 209, 117);
  }

  .checkMark2Touch:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMark1Touch {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMark2Touch {
    background-color: #1ed65c;
  }

  .infoTextTouch {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 7vw;
    color: #1a0403;
    text-shadow: 0 0 3vh #ffffff;

    transition: all 0.9s ease;
    transform: scale(1);
    z-index: 99;
  }

  .hideInfoTouch {
    opacity: 0;
    transform: scale(0.1);
  }

  .reactMouseTimeText {
    font-family: "Press Start 2P", cursive;
    font-size: 4vh;
    transition: all 2.5s ease;
    z-index: 99;
    color: #fff;
    text-shadow: -1px -1px 9px rgba(150, 150, 150, 1);
  }

  .reactionMouseTextFloater {
    position: absolute;
    z-index: 99;
    opacity: 1;
    right: 19vw;
    top: 59vh;
  }

  .reactKeybTimeText {
    font-family: "Press Start 2P", cursive;
    font-size: 4vh;
    transition: all 2.5s ease;
    z-index: 99;
    color: #fff;
    text-shadow: -1px -1px 9px rgba(150, 150, 150, 1);
  }

  .reactionKeybTextFloater {
    position: absolute;
    z-index: 99;
    opacity: 1;
    left: 19vw;
    top: 55vh;
  }

  .fatality {
    font-family: "Press Start 2P", cursive;
    z-index: 99;
    font-size: 4.05vh;
    transition: all 0.3s ease;
    color: crimson;
    text-shadow: 0 -1px 4px #fff, 0 -2px 1vw rgb(255, 0, 0), 0 -1vw 3vw #ffe600,
      0 -2vw 6vw #f00;
  }

  .hideTime {
    opacity: 0;
    top: 40vh;
    transition: all 2.5s ease;
  }
}
