.textSplashFrame {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  z-index: 7;

  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .readyCheckBox {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  //mouse
  .playerReadyLabel {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    left: 0;

    width: 500px;
  }

  //keyboard
  .aiReadyLabel {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    right: 0;
    padding-right: 80px;
  }

  .checkMarkPlayer {
    position: absolute;
    top: 90px;
    left: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkAI {
    position: absolute;
    top: 90px;
    right: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMarkPlayer:hover {
    background-color: rgb(195, 209, 117);
  }

  .checkMarkAI:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMarkPlayer {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMarkAI {
    background-color: #1ed65c;
  }

  .infoText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10rem;
    color: #1a0403;
    text-shadow: 0 0 30px #ffffff;

    //disable text highlighting
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
