.touchAreaOn {
  z-index: 10 !important;
}

.textSplashFrame {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  z-index: 7;

  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .focusKeyboard {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 30vw;
    height: 22vh;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
  }

  .readyCheckBox {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
  }

  //mouse
  .player1ReadyLabel {
    font-size: 3vh;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: absolute;
    top: 2vh;
    right: 0;
  }

  //keyboard
  .player2ReadyLabel {
    font-size: 3vh;
    font-family: "Press Start 2P", cursive;

    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 2vh;
    left: 4vw;
    padding-left: 0;
  }

  .checkMark1 {
    position: absolute;
    top: 4vh;
    right: 4vw;

    font-size: 2vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 9vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2 {
    position: absolute;
    top: 4vh;
    left: 0;

    font-size: 2vh;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 0.4vh;
    border-color: rgb(0, 0, 0);
    height: 9vh;
    width: 25vw;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2:focus {
    border-width: 9px;
    height: 20vh;
  }

  .checkMark1:hover {
    background-color: rgb(195, 209, 117);
  }

  .checkMark2:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMark1 {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMark2 {
    background-color: #1ed65c;
  }

  .infoText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 9vw;
    color: #1a0403;
    text-shadow: 0 0 30px #ffffff;

    transition: all 0.9s ease;
    transform: scale(1);
  }

  .hideInfo {
    opacity: 0;
    transform: scale(0.1);
  }

  .reactMouseTimeText {
    font-family: "Press Start 2P", cursive;
    font-size: 4vh;
    transition: all 2.5s ease;
    z-index: 99;
    color: #fff;
    text-shadow: -1px -1px 9px rgba(150, 150, 150, 1);
  }

  .reactionMouseTextFloater {
    position: absolute;
    z-index: 99;
    opacity: 1;
    right: 19vw;
    top: 59vh;
  }

  .reactKeybTimeText {
    font-family: "Press Start 2P", cursive;
    font-size: 4vh;
    transition: all 2.5s ease;
    z-index: 99;
    color: #fff;
    text-shadow: -1px -1px 9px rgba(150, 150, 150, 1);
  }

  .reactionKeybTextFloater {
    position: absolute;
    z-index: 99;
    opacity: 1;
    left: 19vw;
    top: 55vh;
  }

  .fatality {
    font-family: "Press Start 2P", cursive;
    z-index: 99;
    font-size: 4.05vh;
    transition: all 0.3s ease;
    color: crimson;
    text-shadow: 0 -1px 4px #fff, 0 -2px 1vw rgb(255, 0, 0), 0 -1vw 3vw #ffe600,
      0 -2vw 6vw #f00;
  }

  .hideTime {
    opacity: 0;
    top: 40vh;
    transition: all 2.5s ease;
  }
}
