.touchAreaOn {
  z-index: 10 !important;
}

.textSplashFrame {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 17;
  z-index: 7;

  display: grid;
  place-items: center;
  grid-template-columns: (repeat(2), 1fr);
  grid-template-rows: (repeat(4), 1fr);

  .focusKeyboard {
    height: 20vh;
    z-index: 1000;
    opacity: 0;
  }

  .readyCheckBox {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  //mouse
  .player1ReadyLabel {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    right: 0;
  }

  //keyboard
  .player2ReadyLabel {
    font-size: 2rem;
    font-family: "Press Start 2P", cursive;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 40px;
    left: 0;
    padding-left: 15px;
  }

  .checkMark1 {
    position: absolute;
    top: 90px;
    right: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2 {
    position: absolute;
    top: 90px;
    left: 80px;

    font-size: 1.5rem;
    font-family: "Press Start 2P", cursive;
    display: grid;
    place-items: center;

    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    height: 70px;
    width: 400px;
    background-color: crimson;
    transition: all 0.2s ease;

    z-index: 12;
    cursor: pointer;
  }

  .checkMark2:focus {
    border-width: 9px;
    height: 20vh;
  }

  .checkMark1:hover {
    background-color: rgb(195, 209, 117);
  }

  .checkMark2:hover {
    background-color: rgb(195, 209, 117);
  }

  input:checked ~ .checkMark1 {
    background-color: #1ed65c;
  }

  input:checked ~ .checkMark2 {
    background-color: #1ed65c;
  }

  .infoText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10vh;
    color: #1a0403;
    text-shadow: 0 0 30px #ffffff;

    transition: all 0.9s ease;
    transform: scale(1);
  }

  .hideInfo {
    opacity: 0;
    transform: scale(0.1);
  }
}
