.heroes-box-mouse-human {
  position: absolute;
  top: 22vh;
  left: 0;
  width: 25vw;
  height: 15vh;

  margin-left: 4vw;

  display: flex;

  .hero-avatar-mouse-human {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    img {
      height: 70%;
      z-index: 9;
      transition: all 0.2s ease;
    }

    img:hover {
      height: 90%;
    }
  }
}
