.heroes-box-human {
  position: absolute;
  top: 24vh;
  left: 7vw;
  width: 25vw;
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9px;
  border-style: solid;
  border-width: 0.4vh;
  border-color: rgb(0, 0, 0);

  .hero-avatar-human {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    img {
      height: 70%;
      z-index: 7;
      transition: all 0.2s ease;
    }

    img:hover {
      height: 90%;
    }
  }
}
