.leaderBoardContainer {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  img {
    position: absolute;
    bottom: 0vh;
    height: 74vh;
    z-index: -1;
  }

  .leaderBoardList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    height: 52vh;
    width: 50vw;
    z-index: 1000;

    .leaderBoardEntry {
      display: flex;
      margin-left: 10vw;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0.1vh;
      width: 50vw;
      font-size: 1vh;
      font-family: "Press Start 2P", cursive;
    }

    .ldbHero {
      position: relative;
      height: 3vh;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.5);
    }
  }
}
