.menuContainer {
  height: 100vh;
  width: 100vw;

  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 9px #ffffff;

  display: grid;
  place-items: center;

  padding-top: 30px;

  position: absolute;
  right: 0;
  top: 0;

  transition: all 0.7s ease;

  .cactus {
    position: absolute;
    left: 2vw;
    bottom: 22vh;
    height: 20vh;
  }

  .dirt {
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(rgb(222, 199, 135), rgb(161, 140, 81));

    height: 40vh;
    width: 100vw;
    z-index: -1;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;

    button {
      padding: 1vh 4vw;
      margin-bottom: 3vh;
      font-size: 3vh;
      z-index: 9;
    }
  }

  .musicToggle {
    position: absolute;
    bottom: 3vh;
    right: 2vw;
    width: 4vh;
    height: 4vh;
    font-size: 2vh;
    width: 10vw;
  }

  .theme1Button {
    position: absolute;
    bottom: 9vh;
    right: 2vw;
    width: 10vw;
    font-size: 2vh;
    padding: 1vh 1vw;
  }

  .theme2Button {
    position: absolute;
    bottom: 15vh;
    right: 2vw;
    width: 10vw;
    font-size: 2vh;
    padding: 1vh 1vw;
  }

  .profileMenu {
    position: absolute;
    top: 110px;
    left: 10px;

    font-size: 2rem;
    display: grid;
    place-items: center;

    width: 200px;
    height: 100px;

    margin-top: 10px;
    opacity: 1;

    transition: all 0.2s ease;
  }

  .hide {
    opacity: 0;
    transform: translateX(-240px);
  }

  .hideMenu {
    right: -100vw;
    top: 0;

    transition: all 0.5s ease;
  }

  .difficultyContainer {
    position: absolute;
    bottom: 25vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    z-index: 10;

    button {
      z-index: 99;
      margin-top: 0.65vh;
      width: 10vw;
      font-size: 2vh;
      padding: 1vh 1vw;
    }

    .chosenButton {
      background-color: rgb(56, 29, 13);
      color: #fff;
    }
  }
  .difficultyInfo {
    font-family: "Press Start 2P", cursive;
    text-align: right;
    position: absolute;
    bottom: 50vh;
    right: 2vw;
    font-size: 1.3vw;
    z-index: 10;
    width: 25vw;

    p {
      text-align: right;

      font-family: "Press Start 2P", cursive;
      font-size: 1.3vw;
      padding-bottom: 4vh;
    }
  }

  .title {
    font-size: 3vw;
  }
}
