.serverInfo {
  position: absolute;
  top: 5vh;
  left: 40vw;
  z-index: 99;
  width: 20vw;

  text-align: center;
  font-size: 2vh;
  font-family: "Press Start 2P", cursive;
}

.Serv {
}

.OpenServ {
  color: black;
}

.FullServ {
  color: darkred;
}

.dirt {
  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(rgb(222, 199, 135), rgb(161, 140, 81));

  height: 40vh;
  width: 100vw;
  z-index: -1;
}
