.serverInfo {
  position: absolute;
  top: 5vh;
  left: 40vw;
  z-index: 99;
  width: 20vw;

  text-align: center;
  font-size: 2vh;
  font-family: "Press Start 2P", cursive;
}

.serv {
  text-shadow: 0 0 15px #ffffff;
}

.openServ {
  color: black;
}

.fullServ {
  color: darkred;
  text-shadow: 0 0 15px #ff4444;
}

.dirt {
  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(rgb(222, 199, 135), rgb(161, 140, 81));

  height: 40vh;
  width: 100vw;
  z-index: -1;
}
