.player1char {
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 5;
  //background-color: rgba(255, 0, 0, 0.05);

  z-index: 1;
  display: grid;
  place-items: center;
}

.player2char {
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 7;
  grid-column-end: 10;

  //background-color: rgba(0, 255, 0, 0.05);
  // border-style: dotted;
  // border-radius: 1px;
  // border-color: black;

  z-index: 2;
  display: grid;
  place-items: center;
}

.waitingGrassBall {
  z-index: 3;
  position: absolute;
  top: 60%;
  left: 0%;
  //background-color: rgba(100, 100, 100, 0.2);
  height: 10vh;
  width: 10vh;
}

.playerGif {
  height: 100%;
}
