.player1char {
  /*
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 5;
  */
  //background-color: rgba(255, 0, 0, 0.05);
  position: absolute;
  left: 8vw;
  top: 55vh;
  height: 25vh;

  z-index: 1;
  display: grid;
  place-items: center;

  transition: all var(--slideTime) ease;
}

.hidePlayer1 {
  transition: all 0ms;
  left: -100vw;
  top: 55vh;
}

.ldbPlayer1 {
  transition: all var(--slideTime) ease;

  top: 52vh;
}

.lobbyPlayer1 {
  transition: all 0ms;
  left: 110vw;
}

.multiPlayer1 {
  transition: all var(--slideTime) ease;
  left: 8vw;
}

.player2char {
  position: absolute;
  right: 8vw;
  top: 55vh;
  height: 25vh;

  z-index: 2;
  display: grid;
  place-items: center;
  opacity: 1;

  transition: all var(--slideTime) ease;
}

.hidePlayer2 {
  transition: all 0ms;
  right: 120vw;
  opacity: 1;
}

.ldbPlayer2 {
  transition: all var(--slideTime) ease;

  top: 52vh;
  opacity: 1;
}

.lobbyPlayer2 {
  transition: all 0ms;
  right: -70vw;
}

.multiPlayer2 {
  transition: all var(--slideTime) ease;
  right: 8vw;
}

.playerGif {
  height: 100%;
}
