* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rye", cursive;

  //disable highlighti selection
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;

  //keep pixels sharp
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  .background-world-arena {
    //background-color: rgb(116, 204, 255);
    background-color: rgb(116, 204, 255);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    z-index: 0;
    overflow: hidden;

    .ground {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 11;
      grid-row-end: 17;
      background-color: rgb(222, 199, 135);
      z-index: 0;
    }

    .horizon {
      /*
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 7;
      grid-row-end: 11;
      height: 100%;
      */

      position: absolute;
      top: 38vh;
      left: -2vw;
      height: 25vh;

      transition: all 0.7s ease;
    }

    .hideHorizon {
      left: -400px;
    }

    .menuButton {
      position: absolute;
      top: 10vh;
      left: 40vw;
      padding: 1vh 4vh;

      background-color: #dec787;
      border-radius: 9px;
      border-width: 5px;
      border-color: #000;

      font-family: "Press Start 2P", cursive;
      font-size: 4vh;
      transition: all 0.2s ease;
      z-index: 11;

      cursor: pointer;

      width: 20vw;
      height: auto;
    }

    .menuButton:hover {
      transform: scale(1.2);
      background-color: #faf1db;
    }
  }

  .btn {
    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: burlywood;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .btn:hover {
    color: #fff;
    background-color: rgb(56, 29, 13);
    transform: scale(1.2);
  }

  .avatar {
    border-radius: 9px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    background-color: black;

    position: absolute;
    top: 10px;
    left: 10px;

    height: 96px;
    width: 96px;

    z-index: 20;
    transition: all 0.2s ease;
  }

  .avatar:hover {
    transform: scale(1.1);
  }

  .screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .sky {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgb(116, 204, 255);

    height: 60vh;
    width: 100vw;
    z-index: -2;
  }

  .menuHorizon {
    position: absolute;
    bottom: 40vh;
    left: -20vw;
    z-index: -1;
    height: 25vh;
    transition: all 0.7s ease;
  }

  .menuSlide {
    left: 0vw;
  }

  .cow {
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    height: 25vh;
    transition: all 0.7s ease;
  }

  .hideCow {
    right: -100vw;
  }
}
