:root {
  --slideTime: 1.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;

  //disable highlighti selection
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;

  //keep pixels sharp
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  .background-world-arena {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    z-index: 0;
    overflow: hidden;

    .ground {
      position: absolute;
      left: 0;
      width: 100vw;
      height: 40vh;
      bottom: 0;
      background: linear-gradient(rgb(222, 199, 135), rgb(161, 140, 81));
      z-index: 0;
    }

    .menuButton {
      position: absolute;
      top: 9vh;
      left: 40vw;
      padding: 1vh 4vh;

      font-family: "Press Start 2P", cursive;
      font-size: 3.54vh;
      transition: all 0.2s ease;
      z-index: 11;

      cursor: pointer;

      width: 20vw;
      height: auto;
    }

    .menuButton:hover {
      transform: scale(1.2);
    }

    .ldbButton {
      position: absolute;
      width: 20vw;
      left: 40vw;

      top: 16.3vh;

      text-align: center;
      padding: 1vh 1vw;
      z-index: 9;
      font-size: 2vh;
      font-family: "Press Start 2P", cursive;
    }
  }

  .btn {
    // border-radius: 9px;
    // border-style: solid;
    // border-width: 0.4vh;
    // border-color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3vh;
    border-style: none;

    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 7;
  }

  .btn:focus {
    outline: none;
  }

  .btn:hover {
    color: #fff;
    background-color: rgba(56, 29, 13, 0.6);
    transform: scale(1.2);

    text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 157, 0) 0px 0px 10px,
      rgb(255, 0, 0) 0px 0px 15px;
  }

  .screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .selectedButton {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .themeSepia {
    filter: sepia(0.3) hue-rotate(-20deg);
    transition: all 0.5s ease;
  }

  .themeNight {
    filter: brightness(0.2) saturate(20%);
    transition: all 0.5s ease;
  }

  .sky {
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgb(116, 204, 255), rgb(184, 229, 255));

    height: 60vh;
    width: 100vw;
    z-index: -2;
  }

  .horizon {
    position: absolute;
    bottom: 40vh;
    left: -5vw;
    z-index: 1;
    height: 25vh;
    transition: all var(--slideTime) ease;
  }

  .menuSlide {
    left: 0vw;
  }

  .lobbyHorizon {
    left: -8vw;
  }

  .multiplayerHorizon {
    left: -16vw;
  }

  .cow {
    position: absolute;
    left: 105vw;
    bottom: 10vh;
    height: 25vh;
    transition: all var(--slideTime) ease;
  }

  .ldbCow {
    left: 135;
  }

  .menuCow {
    left: 5vw;
  }

  .lobbyCow {
    left: -130vw;
  }

  .multiplayerCow {
    left: -200vw;
  }

  .cloud {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .cloud1 {
    top: 0;
    height: 15vh;
    animation-name: cloudmove1;
    animation-duration: 650s;
    animation-iteration-count: infinite;
  }

  .cloud2 {
    top: 0;
    height: 10vh;
    animation-name: cloudmove2;
    animation-duration: 900s;
    animation-iteration-count: infinite;
  }

  .cloud3 {
    top: 19vh;
    height: 10vh;
    animation-name: cloudmove3;
    animation-duration: 700s;
    animation-iteration-count: infinite;
  }

  //alottaa keskeltä ja lopettaa ku pääsee ruudusta ulos, jotta edes 1 pilvi näkyvissä alussa
  .cloud4 {
    opacity: 0;
    top: 25vh;
    height: 10vh;
    animation-name: cloudmovestart;
    animation-duration: 200s;
    animation-iteration-count: 1;
  }

  @keyframes cloudmove1 {
    0% {
      top: 0;
      opacity: 1;
      right: -13vw;
    }
    97% {
      top: 0;
      right: 100vw;
      opacity: 1;
    }

    98% {
      right: 100vw;
      top: -20vh;
      opacity: 0;
    }
    99% {
      right: -13vw;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 0;
    }
  }

  @keyframes cloudmove2 {
    0% {
      top: 0;
      opacity: 1;
      right: -20vw;
    }
    98% {
      top: 0;
      right: 101vw;
      opacity: 1;
    }

    99% {
      top: -20vh;
      right: 101vw;
      opacity: 0;
    }

    100% {
      top: 0;
      right: -20vw;
      opacity: 0;
    }
  }

  @keyframes cloudmove3 {
    0% {
      top: 19vh;
      opacity: 1;
      right: -33vw;
    }
    97% {
      top: 19vh;
      right: 101vw;
      opacity: 1;
    }

    98% {
      right: 101vw;
      top: -20vh;
      opacity: 0;
    }
    99% {
      right: -20vw;
      opacity: 0;
    }
    100% {
      top: 19vh;
      opacity: 0;
    }
  }

  @keyframes cloudmovestart {
    0% {
      top: 25vh;
      opacity: 1;
      right: 70vw;
    }

    98% {
      opacity: 1;
      right: 120vw;
    }

    99% {
      top: 25vh;
      opacity: 0;
      right: 120vw;
    }
    100% {
      top: -25vh;
    }
  }

  .saloon {
    position: absolute;
    bottom: 20vh;
    right: 3vw;
    height: 60vh;
    z-index: 3;
    transition: all var(--slideTime) ease;
  }

  .menuSaloon {
    right: -100vw;
  }

  .multiplayerSaloon {
    right: 200vw;
  }

  .menuButtons {
    height: 10vh;
  }

  .settingsContainer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
