* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rye", cursive;

  .background-world-arena {
    //background-color: rgb(116, 204, 255);
    background: radial-gradient(
      circle 150px at 103% 59%,
      rgb(255, 252, 78),
      yellow,
      lightyellow,
      rgb(116, 204, 255)
    );
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    z-index: 0;
    overflow: hidden;

    //keep pixels sharp
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    .ground {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 11;
      grid-row-end: 17;
      background-color: rgb(222, 199, 135);
      z-index: 0;
    }

    .horizon {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 7;
      grid-row-end: 11;
      height: 100%;
    }
  }
}
